<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>ConnectApp</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/public/css/styles2.css" />
  </head>

  <body>
    <div class="jumbotron centered">
      <div class="container">
        <img src="/public/images/logo.PNG" style="width: 175px; height: 63px" />
        <h1 class="display-3">Hey, Welcome to ConnectApp</h1>
        <p class="lead">SOCIAL NETWORKING APP</p>
        <hr />
        <a class="btn btn-light btn-lg" href="/signup" role="button"
          >Register</a
        >
        <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
      </div>
    </div>
  </body>
</html>
